AWS_ACCOUNT_ID=256748319413
AWS_REGION=us-east-1
AWS_RESOURCE_ARN=arn:aws:rds:us-east-1:256748319413:cluster:h0-cobol-estate
AWS_ROLE_ARN=arn:aws:iam::256748319413:role/Vercel/access-h0-cobol-estate
PGDATABASE=postgres
PGHOST=h0-cobol-estate.cluster-co96c8kamc5h.us-east-1.rds.amazonaws.com
PGPORT=5432
PGSSLMODE=require
PGUSER=postgres
ANTHROPIC_API_KEY=sk-ant-YOUR_KEY_HERE
